#root {
    height: 100vh;
}

.column {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(32, 178, 170, 0.4);
    height: 15%;
}

.column2 {
    height: 100%;
    padding-top: 15px;
}