.containerForm {
    background: rgba(0, 255, 255, 0.3);
    height: 80%;
    width: 50%;
    padding: 5% 5% 0 5%;
    border-radius: 13px;
}

.h2 {
    margin-bottom: 30px;
}

.datePicker {
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1.5px solid #ced4da;
}

.datePicker:focus {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: #7cc3f4 solid 4px;
}